    {% include "Home/_modal_question.html.twig" %}
    {% set nbCol = 6 %}
    {% set nbLine = 6 %}
    {% set couch = "x-" ~ couchPosition.abs ~ "_y-" ~ couchPosition.ord %}
    {% set mountain1 =  'x-3_y-2' %}
    {% set mountain2 =  'x-3_y-3' %}
    {% set mountain3 =  'x-3_y-4' %}
    {% set mountain4 =  'x-4_y-3' %}
    {% set mountain5 =  'x-4_y-4' %}
    {% set mountain6 =  'x-4_y-5' %}
    {% set tree = 'x-1_y-5' %}
    {% set tree2 =  'x-1_y-6' %}
    {% set tree3 =  'x-6_y-2' %}
    {% set tree4 =  'x-6_y-3' %}
    {% set tree5 =  'x-6_y-4' %}
    {% set tv =  'x-6_y-5' %}
    {% set question =  'x-1_y-4' %}


    {# pour chaque ligne #}
    {% for i in nbLine..1 %}
        <div class="container-fluid col-12 ">
            {# formatage de la  ligne en row de 12 colones #}
            <div class="row justify-content-center mx-0 flex-nowrap">
                {# construction des colones#}
                {% for j in 1..nbCol %}
                    {# variable pour l'id des box ( div ) --> correspond aux coordonées codées sur la grille de type x et y #}
                    {% set box= "x-" ~ j ~ "_" ~ "y-" ~ i %}
                    {% if couch == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-boxIcon">
                            <div id="couch"><img class="icon" id="couchColor" src="/assets/images/couch-solid.svg">
                            </div>
                        </div>

                        {# detection si id box en cour = id iconOne #}
                    {% elseif tree == box %}
                        <div id="{{ box }}" class="tree col-2 img-content px-0 gc-caseSize gc-boxIcon gc-icon1">
                            {# put icon 1 in div #}
                            <div> {% include "Home/_tree-solid.html.twig" %} </div>
                        </div>
                        {# detection si id box en cour = id iconTwo #}
                    {% elseif plane == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon2 gc-boxIcon">
                            {# put icon 2 in div #}
                            <div>  {% include "Home/_plane-departure-solid.html.twig" %}  </div>
                        </div>
                        {# detection si id box en cour = id iconThree #}
                    {% elseif mountain1 == box %}
                        <div id="{{ box }}" class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div class="mountain">  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {% elseif mountain2 == box %}
                        <div id="{{ box }}"
                             class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {% elseif mountain3 == box %}
                        <div id="{{ box }}"
                             class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {% elseif mountain4 == box %}
                        <div id="{{ box }}"
                             class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {% elseif mountain5 == box %}
                        <div id="{{ box }}"
                             class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {% elseif mountain6 == box %}
                        <div id="{{ box }}"
                             class="mountain col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>

                    {% elseif tree2 == box %}
                        <div id="{{ box }}"
                             class="tree col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_tree-solid.html.twig" %}  </div>
                        </div>
                    {% elseif tree3 == box %}
                        <div id="{{ box }}"
                             class="tree col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_tree-solid.html.twig" %}  </div>
                        </div>
                    {% elseif tree4 == box %}
                        <div id="{{ box }}"
                             class="tree col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_tree-solid.html.twig" %}  </div>
                        </div>
                    {% elseif tree5 == box %}
                        <div id="{{ box }}"
                             class="tree col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_tree-solid.html.twig" %}  </div>
                        </div>
                        {# detection si id box en cour = id iconFour #}
                    {% elseif tv == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon4 gc-boxIcon">
                            {# put icon 4 in div #}
                            <div>  {% include "Home/_tv-solid.html.twig" %}  </div>
                        </div>
                    {% elseif question == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon4 gc-boxIcon">
                            {# put icon 5 in div #}
                            <div id="question">  {% include "Home/_question-circle-regular.html.twig" %}  </div>
                        </div>
                        {# si aucun cas ne corespond affichage d'une box vide #}
                    {% else %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize">
                            <div> {{ idBox }} </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


