{% extends 'layout.html.twig' %}

{% block content %}

    {% set nbCol = 6 %}
    {% set nbLine = 6 %}
    {% set couch = "x-" ~ couchPosition.abs ~ "_y-" ~ couchPosition.ord %}
    {% set iconOne = 'x-2_y-3' %}
    {% set iconTwo =  'x-4_y-5' %}
    {% set iconThree =  'x-1_y-4' %}
    {% set iconFour =  'x-6_y-1' %}
    {% set iconFive =  'x-1_y-1' %}

    {# pour chaque ligne #}
    {% for i in 1..nbLine %}
        <div class="container-fluid col-6 ">
            {# formatage de la  ligne en row de 12 colones #}
            <div class="row justify-content-center mx-0 flex-nowrap">
                {# construction des colones#}
                {% for j in 1..nbCol %}
                    {# variable pour l'id des box ( div ) --> correspond aux coordonées codées sur la grille de type x et y #}
                    {% set box= "x-" ~ j ~ "_" ~ "y-" ~ i  %}
                    {% if couch == box %}
                    <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon1">
                        <div><img class="couch" src="/assets/images/couch-solid.svg" alt="Picture of your coach"></div>
                    </div>
                    {# detection si id box en cour = id iconOne #}
                    {% elseif iconOne == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon1 gc-boxIcon">
                            {# put icon 1 in div #}
                            <div> {% include "Home/_tree-solid.html.twig" %} </div>
                        </div>
                    {# detection si id box en cour = id iconTwo #}
                    {% elseif iconTwo == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon2 gc-boxIcon">
                            {# put icon 2 in div #}
                            <div >  {% include "Home/_plane-departure-solid.html.twig" %}  </div>
                        </div>
                    {# detection si id box en cour = id iconThree #}
                    {% elseif iconThree == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon3 gc-boxIcon">
                            {# put icon 3 in div #}
                            <div>  {% include "Home/_mountain-solid.html.twig" %}  </div>
                        </div>
                    {# detection si id box en cour = id iconFour #}
                    {% elseif iconFour == box %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize gc-icon4 gc-boxIcon">
                            {# put icon 4 in div #}
                            <div>  {% include "Home/_tv-solid.html.twig" %}  </div>
                        </div>
                    {# si aucun cas ne corespond affichage d'une box vide #}
                    {% else %}
                        <div id="{{ box }}" class="col-2 img-content px-0 gc-caseSize">
                            <div> {{ idBox }} </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}


{% endblock %}
